*.code-workspace
.DS_Store
*.html
/examplefiles/alexas_section/chloro2
/examplefiles/alexas_section/chloro/ndh
examplefiles/alexas_section/herbariumphotos/output_herbphotos/V0533978F.jpg
examplefiles/alexas_section/herbariumphotos/output_herbphotos/V0533979F.jpg
examplefiles/alexas_section/herbariumphotos/output_herbphotos/V0533979F.jpg.1
examplefiles/alexas_section/herbariumphotos/output_herbphotos/V0533980F.jpg
